body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:755px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:800px;
  height:755px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:370px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:804px;
  width:35px;
  height:35px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:167px;
  width:800px;
  height:1px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:116px;
  width:25px;
  height:25px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:116px;
  width:25px;
  height:25px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:116px;
  width:25px;
  height:25px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:141px;
  width:70px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:141px;
  width:60px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:141px;
  width:60px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:119px;
  width:182px;
  height:30px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:219px;
  width:229px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF6666;
  text-align:left;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:225px;
  word-wrap:break-word;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:219px;
  width:146px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:142px;
  word-wrap:break-word;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:219px;
  width:240px;
  height:25px;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:236px;
  word-wrap:break-word;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:35px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:214px;
  width:39px;
  height:35px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:254px;
  width:35px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:31px;
  word-wrap:break-word;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:25px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:254px;
  width:494px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:490px;
  word-wrap:break-word;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:418px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:298px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:422px;
  width:90px;
  height:22px;
}
#u1368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1368_input:disabled {
  color:grayText;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:667px;
  width:90px;
  height:22px;
}
#u1369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1369_input:disabled {
  color:grayText;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:447px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:476px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:480px;
  width:70px;
  height:22px;
}
#u1374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1374_input:disabled {
  color:grayText;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:507px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:511px;
  width:90px;
  height:22px;
}
#u1377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1377_input:disabled {
  color:grayText;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:536px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:421px;
  width:60px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:665px;
  width:60px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:507px;
  width:60px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:536px;
  width:60px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:540px;
  width:90px;
  height:22px;
}
#u1388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1388_input:disabled {
  color:grayText;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:750px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:752px;
  width:60px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:754px;
  width:90px;
  height:22px;
}
#u1393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1393_input:disabled {
  color:grayText;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:190px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:305px;
  width:300px;
  height:190px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  word-wrap:break-word;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:302px;
  width:70px;
  height:22px;
}
#u1396_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1396_input:disabled {
  color:grayText;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:334px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:327px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:575px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:663px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:692px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:721px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:725px;
  width:70px;
  height:22px;
}
#u1409_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1409_input:disabled {
  color:grayText;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:359px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:363px;
  width:539px;
  height:25px;
}
#u1412_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:602px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:606px;
  width:539px;
  height:25px;
}
#u1415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:389px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:393px;
  width:539px;
  height:25px;
}
#u1418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:633px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:637px;
  width:539px;
  height:25px;
}
#u1421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
