body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:717px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:125px;
  width:300px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u1424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:125px;
  width:101px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u1426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:125px;
  width:101px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:170px;
  width:300px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:47px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:75px;
  width:105px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u1432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:374px;
  width:101px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:374px;
  width:300px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u1436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:47px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:324px;
  width:105px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:46px;
}
#u1438p000 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:12px;
  width:32px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1438p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:6px;
}
#u1438p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1438p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u1438p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u1438p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u1438.compound {
  width:0px;
  height:0px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:315px;
  width:1px;
  height:28px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:18px;
  width:30px;
  height:31px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:460px;
  width:300px;
  height:81px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u1444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:529px;
  width:300px;
  height:170px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:709px;
  width:81px;
  height:30px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u1448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:709px;
  width:81px;
  height:30px;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u1450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:709px;
  width:81px;
  height:30px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
